@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.custom-radio {
    appearance: none;
    background-color: #fff;
    border: 1px solid #cbd5e0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .custom-radio.checked {
    background-color: #fbe300;
    border-color: #fbe300;
  }
  
  .custom-radio.checked::before {
    content: '';
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.card-questionnaire {
  width: 250px;
  height: 200px;
  background-color: #fbe300;
  margin: 20px;
  border-radius: 20px
}

.card-button {
  background-color: transparent;
  color: purple;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius:10px ;
}

.card-button:hover {
  color: white;
}